<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>sphinx_1.png</key>
		<dict>
			<key>x</key>
			<integer>609</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>303</integer>
			<key>height</key>
			<integer>448</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>307</integer>
			<key>originalHeight</key>
			<integer>451</integer>
		</dict>
		<key>sphinx_2.png</key>
		<dict>
			<key>x</key>
			<integer>305</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>303</integer>
			<key>height</key>
			<integer>448</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>307</integer>
			<key>originalHeight</key>
			<integer>451</integer>
		</dict>
		<key>sphinx_3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>303</integer>
			<key>height</key>
			<integer>449</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>307</integer>
			<key>originalHeight</key>
			<integer>451</integer>
		</dict>
	</dict>
</dict>
</plist>