<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>down_1.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>452</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>down_2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>395</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>down_3.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>336</integer>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>left_1.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>283</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>52</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>left_2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>231</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>left_3.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>184</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>46</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>up_1.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>123</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>up_2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>-3</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
		<key>up_3.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>60</integer>
		</dict>
	</dict>
</dict>
</plist>