<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>player_arrow_back_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_arrow_back_2.png</key>
		<dict>
			<key>x</key>
			<integer>71</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_arrow_front_1.png</key>
		<dict>
			<key>x</key>
			<integer>145</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_arrow_front_2.png</key>
		<dict>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_arrow_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>286</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_arrow_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>367</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_attack_back_1.png</key>
		<dict>
			<key>x</key>
			<integer>450</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_attack_back_2.png</key>
		<dict>
			<key>x</key>
			<integer>521</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_attack_front_1.png</key>
		<dict>
			<key>x</key>
			<integer>596</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_attack_front_2.png</key>
		<dict>
			<key>x</key>
			<integer>671</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_attack_right_1.png</key>
		<dict>
			<key>x</key>
			<integer>747</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_attack_right_2.png</key>
		<dict>
			<key>x</key>
			<integer>822</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>82</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_back_1.png</key>
		<dict>
			<key>x</key>
			<integer>905</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_back_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_back_3.png</key>
		<dict>
			<key>x</key>
			<integer>71</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_front_1.png</key>
		<dict>
			<key>x</key>
			<integer>141</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_front_2.png</key>
		<dict>
			<key>x</key>
			<integer>211</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_front_3.png</key>
		<dict>
			<key>x</key>
			<integer>281</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>351</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>426</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_left_3.png</key>
		<dict>
			<key>x</key>
			<integer>501</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_use_1.png</key>
		<dict>
			<key>x</key>
			<integer>576</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_use_2.png</key>
		<dict>
			<key>x</key>
			<integer>646</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>player_use_3.png</key>
		<dict>
			<key>x</key>
			<integer>716</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
	</dict>
</dict>
</plist>