<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>parao_back_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>143</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>parao_back_2.png</key>
		<dict>
			<key>x</key>
			<integer>106</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>parao_back_3.png</key>
		<dict>
			<key>x</key>
			<integer>221</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>141</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>parao_front_1.png</key>
		<dict>
			<key>x</key>
			<integer>337</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>143</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>parao_front_2.png</key>
		<dict>
			<key>x</key>
			<integer>444</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>143</integer>
			<key>offsetX</key>
			<real>-5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>parao_front_3.png</key>
		<dict>
			<key>x</key>
			<integer>559</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>139</integer>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>parao_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>672</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>142</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>parao_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>756</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>140</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
		<key>parao_left_3.png</key>
		<dict>
			<key>x</key>
			<integer>847</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>136</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>160</integer>
		</dict>
	</dict>
</dict>
</plist>